<%#= link_to 'New Article', new_article_path %>

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <%= link_to 'New Post', new_article_path, class: "btn btn-success" %>
      <% @articles.each do |article| %>
        <h2>
          <a href="/articles/<%=article.id %>">
            <span>Post:</span>
          <%= article.name %></h2>
        </a>
        <%= form_tag class: "hidden", type:'text', placeholder:"Enter new name", data: {survey_id: "#{survey.id}"}%>
        <%= article.text %>
        <h3>Comments:</h3>
        <div class="actions">
          <%= button_tag 'Add coment', data: {article_id: "#{article.id}" }, class: 'btn btn-info', id: 'updateComent' %>
          <!--<button type="button" class="btn btn-info" id='addComment' data-article-id="#{article.id}")>Add comment</button>-->
        </div>
          <%#= link_to 'New comment', new_article_coment_path(article), class: "btn btn-primary"%>
          <!--New comment<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--<%# end %>-->
        <h2>
          <td><%= link_to 'Destroy', article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </h2>
        <hr>
      <% end %>
    </div>
  </div>
</div>