<%#= link_to 'New Article', new_article_path %>

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h2>
        <%= link_to 'New Post', new_article_path, class: "btn btn-success" %>
      </h2>
      <% @articles.each do |article| %>
          <h2>
            <a href="/articles/<%=article.id %>">
              <span>Post:</span>
            <%= article.name %></h2>
          </a>
          <h3>
            <p><%= article.text %></p>
          </h3>
          <h3>Comments:</h3>
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= Time.now.strftime("%Y-%m-%d" "," "%H:%M:%S")%></p>
          <%#= link_to new_article_coment_path(article), class: 'btn btn-primary' do %>
             <!--New comment<span class="glyphicon glyphicon-chevron-right"></span>-->
          <!--<%# end %>-->
          <h2>
            <td><%= link_to 'Destroy', article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </h2>
          <hr>
      <% end %>
    </div>
  </div>
</div>